Repository milosz275/secure-chat, pull requests merged in 2024-09, with the labels that each got.

#21 Protocol and Authentication
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  assets/erd.png
  client/src/client.c
  common/include/protocol.h
  common/src/protocol.c
  database/README.md
  server/include/server.h
  server/src/server.c
Labels: enhancement, Server, Database, Client

#23 Optimization and server_t structure
  client/src/client.c
  common/src/protocol.c
  server/include/server.h
  server/src/server.c
Labels: enhancement

#24 Client/reconnect
  .github/dependabot.yml
  client/include/client.h
  client/src/client.c
  server/include/server.h
  server/src/server.c
Labels: enhancement, Client

#25 Server/cli
  .vscode/settings.json
  .vscode/tasks.json
  client/src/client.c
  client/src/main.c
  common/Makefile
  common/include/protocol.h
  common/src/protocol.c
  server/Makefile
  server/include/server.h
  server/include/serverauth.h
  server/include/servercli.h
  server/include/serverdb.h
  server/src/main.c
  server/src/server.c
  server/src/serverauth.c
  server/src/servercli.c
  server/src/serverdb.c
Labels: enhancement, Server

#26 Server/logs
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  common/include/log.h
  common/include/protocol.h
  common/src/log.c
  common/src/protocol.c
  server/include/server.h
  server/src/server.c
  server/src/serverauth.c
  server/src/serverdb.c
Labels: enhancement, Server

#28 Common/hashing
  .vscode/tasks.json
  common/include/protocol.h
  common/src/log.c
  common/src/protocol.c
  server/src/serverauth.c
Labels: bug, Server
