Repository milosz275/secure-chat, pull requests merged in 2024-10, with the labels that each got.

#29 Message codes
  client/include/client.h
  client/src/client.c
  common/include/protocol.h
  common/src/protocol.c
  server/include/server.h
  server/src/server.c
  server/src/serverauth.c
Labels: Common

#30 Message queue
  .clang-format
  .vscode/settings.json
  Makefile
  README.md
  assets/server.png
  client/include/client.h
  client/src/client.c
  common/include/hash_map.h
  common/include/log.h
  common/include/protocol.h
  common/include/sts_queue.h
  common/src/hash_map.c
  common/src/log.c
  common/src/protocol.c
  common/src/sts_queue.c
  server/include/server.h
  server/include/server_auth.h
  server/include/server_cli.h
  server/include/server_db.h
  server/src/server.c
  server/src/server_auth.c
  server/src/server_cli.c
  server/src/server_db.c
Labels: enhancement, Server, Common

#31 OpenSSL TLS encrypted traffic
  .gitignore
  .vscode/settings.json
  client/include/client.h
  client/include/client_openssl.h
  client/src/client.c
  client/src/client_openssl.c
  common/include/log.h
  common/include/protocol.h
  common/src/log.c
  common/src/protocol.c
  server/include/server.h
  server/include/server_auth.h
  server/include/server_cli.h
  server/include/server_db.h
  server/include/server_openssl.h
  server/src/server.c
  server/src/server_auth.c
  server/src/server_openssl.c
Labels: Server, Client

#35 Refactorization
  .vscode/settings.json
  README.md
  assets/client.png
  client/Makefile
  client/include/client.h
  client/include/client_gui.h
  client/include/client_msg_handler.h
  client/include/client_openssl.h
  client/src/client.c
  client/src/client_gui.c
  client/src/client_msg_handler.c
  client/src/client_openssl.c
  client/src/main.c
  common/Makefile
  common/include/hash_map.h
  common/include/log.h
  common/include/protocol.h
  common/include/sts_queue.h
  common/src/hash_map.c
  common/src/protocol.c
  common/src/sts_queue.c
  header.html
  server/Makefile
  server/include/server.h
  server/include/server_auth.h
  server/include/server_cli.h
  server/include/server_openssl.h
  server/src/server.c
  server/src/server_auth.c
  server/src/server_cli.c
  server/src/server_db.c
  server/src/server_openssl.c
Labels: enhancement
